@model IEnumerable<eProjectP3.Models.online_purchase>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div id="myChartContainer">
    <canvas id="myChart" style="width: 80%"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    drawChart();

    function drawChart() {
        const myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'Jun', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Order',
                    data: [82, 52, 98, 50, 76, 61, 49, 89, 49, 55, 77, 43],
                    borderWidth: 1,
                    backgroundColor: [
                        'rgba(75, 200, 152, 0.5)'
                    ],
                }],
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Total orders by month in 2023.',
                        font: {
                            size: 20,
                            weight: 400
                        }
                    }
                }
            }
        });

        window.addEventListener('resize', function () {
            myBarChart.destroy();
            drawChart();
        })
    }
</script>


